<h1>Here is the Single One Child</h1>
<h3>
  Name - <%= @child.name %> <br/>
  Age - <%= @child.age %> <br/>
  Grade - <%= @child.grade %> <br/>
  Description - <%= @child.description %> <br/>
  Gender - <%= @child.gender %>
</h3>
<% if user_signed_in? && current_user == @child.user %>
  <%= link_to 'Edit', edit_child_path %>
  <br/>
   <%= link_to 'Delete', child_path, method: :delete, confirm: {message:'Are you Sure'} %>
<% end %>
<%= link_to 'Back', children_path %>
